body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #333;
    max-width: 1800px;
    margin: 0 auto;
}

h1 {
    color: #2c3e50;
}
.header{
text-align: center;
background-color: antiquewhite;
}
.pages{
 display: flex;
 justify-content:space-between;
}
a{
    font-weight: bold;
    text-decoration:none;
}
a:visited{
  color: rgb(16, 102, 34);
}
a:hover{
  color: rgba(170, 32, 140, 0.952);
  font-size: 22px;
}
a:active{
  color:rgb(230, 113, 18);
  font-size:33px;
}
.img{
  display: flex;
  width:50px;
  height: 250px;
  align-content: center;
  gap: 632px;
}
.footer{
  text-align: center;
  background-color: antiquewhite;
}
.pics{
  display: flex;
    width:50px;
  height: 250px;
  align-content: center;
  gap: 522px;
}
.chalk{
display: flex;
justify-content: center;
align-items:
width:50px;
height:250px;
  
}